﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuitarJam</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
<script type="text/javascript" src="~/Scripts/index.js"></script>

</html>
