﻿body, html {
            height: 100%;
            width: 100%;
        }

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

#container {
    height: 100%;
}

#youtube, #guitar-tabs {
    height: 50%;
    display: block;
}

#youtube {
    background-color: gray;
    height: 15%;
    overflow: hidden;
}

#guitar-tabs {
    background-color: lightgray;
    height: 75%;
}

#controls {
    /*background-color: gold;*/
    height: 68px;
    position: fixed;
    width: 100%;
    bottom: 0;
    cursor: pointer;
    transition-duration: 1s;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#controls.top {
    height: 95%;
}

#marker {
    border: 1px solid black;
    height: 50px;
    margin: 5px auto;
    width: 50px;
    transition-duration: 0.25s;
    transition-property: transform;
    transition-timing-function: linear;
    transition-delay: 0s;
    border-radius: 3px;
    box-shadow: 0 0 3px #000000;
    background-color: white;
}

#marker.top {
    transform: rotate(180deg);
}

#arrow {
    display: inline-block;
    font-family: monospace;
    font-size: 63px;
    height: 40px;
    line-height: 30px;
    margin: 5px;
    overflow: hidden;
    transform: rotate(90deg);
}

.song-list-container {
    padding: 20px;
    overflow-y: scroll;
    height: 70%;
}

.song-list-container ul li {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.song-list-container ul {
    list-style: outside none none;
    padding-left: 0;
}


#song-list {
    margin-bottom: 110px;
}

#loader {
  width: 75px;
  height: 75px;
  background-image: url("../Content/loading.png");
  margin: 20px auto;
  opacity: 0.2;
  display: none;
}

.pulse{
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: pulse-in-and-out;
    animation-timing-function: linear;
}
@keyframes pulse-in-and-out{
    0%{opacity:0.2;}
    50%{opacity:0.8;}
    100%{opacity:0.2}
}

h1 {
    font-size: 30px;
    opacity: 0.5;
}


#functions {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    border: 1px solid black;
    bottom: 0;
    left: -10px;
    padding: 13px 50px;
    position: absolute;
}

.button {
    border: 1px solid black;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 0 3px #000000;
    background-color: white;
}

.popup {
    height: 400px;
    left: 40%;
    position: fixed;
    top: 24%;
    width: 400px;
    display: none;
}

.popup-container {
    position: relative;
}

.popup header {
    background-color: black;
    border-radius: 6px 6px 0 0;
    border-top: medium none;
    height: 46px;
    left: -122px;
    line-height: 15px;
    position: absolute;
    top: 122px;
    transform: rotate(-90deg);
    width: 290px;
}


.popup header p {
    margin: 16px 60px;
    color: white;
}

#add-form {
    background-color: white;
    border: 1px solid black;
    border-radius: 0 10px;
    box-sizing: border-box;
    height: 398px;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 354px;
}


.labelled-control {
    margin-bottom: 20px;
}

.labelled-control label {
    display: block;
}

.labelled-control input {
    height: 25px;
    margin-top: 10px;
    width: 300px;
}

#save-button {
    margin: 30px 100px;
    width: 90px;
}
