﻿@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <div id="youtube"><iframe id="youtube-frame" width="100%" height="100%" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" frameborder="0" allowfullscreen></iframe></div>
    <div id="guitar-tabs"><iframe id="tab-frame" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" width="100%" height="100%"></iframe></div>
    <div id="controls">
        <div id="marker" class=""><p id="arrow">&laquo;</p></div>
		    <div id="loader" class="pulse"></div>
        <div class="song-list-container">
            <h1>Song List</h1>
            <div id="song-list"></div>
        </div>
        <div id="functions"><button class="button" id="add-button">Add Track</button></div>
    </div>
</div>

<div class="popup" id="add-track-popup">
    <div class ="popup-container">
        <header><p>Add a new track</p></header>
        <div id="add-form">
            <div class="labelled-control">
                <label>Song and Artist</label>
                <input type="text" id="song" />
            </div>
            <div class="labelled-control">
                <label>Youtube Code</label>
                <input type="text" id="you-tube" />
            </div>
            <div class="labelled-control">
                <label>Ultimate Guitar Fragment</label>
                <input type="text" id="chords" />
            </div>
            <div class="labelled-control">
                <button type="button" class="button" id="save-button">Save</button>
            </div>
        </div>
    </div>
</div>
